/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: gray;
  font-family: sans-serif;
}

.container {
  background: white;
  border-radius: 5px;
  margin: 2% auto 5%;
  padding: 2% 5% 5%;
  width: 80%;
}

.column {
  float: left;
  width: 50%;
}

.clear {
  clear: both;
}

.title {
  float: left;
  width: 80%;
}

.comic {
  border-bottom: solid 1px gray;
  padding: 2%;
}

.comic:hover {
  background: gray;
}

.gotten {
  text-decoration: line-through;
}